html,body{
	margin:0px;
	padding:0px;
}
.container{
	display:flex;
	flex-flow:row;
	border:1px solid red;
	margin-left:10px;
	margin-top:0px;
}
.leftPanel{
	border-right:1px solid red;
}
.rightPanel{
	border-left:1px solid red;
}
.tools{
	margin-left:10px;
	margin-right:10px;
	border-left:1px solid red;
	border-right:1px solid red;
	width:80px;
}
.options{
	height:100px;
}
#srcCanvas{
	border-top:1px solid red;
	border-bottom:1px solid red;
}
#hiddenCanvas{
	border:1px solid blue;
}
.redBtn{
	background-color:red;
}
#mapSizeX,#mapSizeY{
	width:50px;
}
#targetCanvas{
	border:1px solid blue;
}
.hiddenMaskLayer{
	display:none;
	width:0;
	height:0;
}
.showMaskLayer{
	position:absolute;
	display:block;
	border:1px solid blue;
}
.showDataConsole{
	position:absolute;
	display:block;
	border:1px solid blue;
	width:1024px;
	height:768px;
	background-color:white;
}
.hiddenDataConsole{
	position:absolute;
	display:none;
	border:1px solid blue;
	width:0;
	height:0;
}
#exporteddata{
	position:absolute;
	display:block;
	width:1024px;
	height:768px;
	background-color:#e3e3e3;
}
#mapsrc{
	width:230;
}

ul{
	margin:0px;
}